<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <script src="vue.js"></script>
</head>

<style>
    .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
    }

    .red {
        background-color: red;
    }

    .blue {
        background-color: blue;
    }

    .green {
        background-color: green;
    }
</style>

<body>

    <div id="app">

        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} - {{ i }}</li>
        </ul>

        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <p>{{ ingredient}} - {{ index }}</p>
        </template>
        <button @click="ingredients.push('spices')">Add Spices</button>
        <hr>
        <ul>
            <li v-for="(value, key) in persons">{{ key }}: {{ value.name }}</li>
        </ul>
        <hr>
        <span v-for="n in 10">{{ n }}, </span>

    </div>



    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                persons: [{
                    name: 'Juan',
                    age: 27,
                    color: 'red'
                },
                {
                    name: 'Ana',
                    age: 21,
                    color: 'blue'
                },
                ]
            }
        })
    </script>

</body>

</html>