<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Bluu</title>
</head>

<body>
    <div id="app">
        <h1>{{ titulo }}</h1>

        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <button @click="agregarFruta">Agregar</button>

        <ul>
            <li v-for="fruta of frutas">
                <button @click="fruta.cantidad++">+</button>
                <input type="number" v-model.number="fruta.cantidad">
                <span v-if="fruta.cantidad != 0"> - {{ fruta.nombre }}</span>
                <span v-else>Sin stock - {{ fruta.nombre }}</span>
            </li>
        </ul>

        <h4>Total = {{ sumarFrutas }}</h4>

    </div>

    <script src="js/vue.js"></script>
    <script src="01.js"></script>
</body>

</html>